
 <html lang="pt-br">
    <head>
        <meta charset="utf-8" />
        <title>Backend</title>
    </head>
    <body>
        <h1>Tecnologias Backend</h1>
        <% for(i=0; i<dados.length;i++){ %>
            <p><%=dados[i].conteudo %></p>
            <%}%>
    </body>
</html>