<html lang="pt-br">
  <head>
  <meta charset="utf-8">
  <title>FrontEnd</title>
  </head>

  <body>
      <h1>Cadastre a tecnologia: </h1>
      <form method="post" action='/cadastro/salvar'>
      Categoria: <input type="text" name="categoria"><br />
      Conteúdo: <input type="text" name="conteudo"> <br />
      <input type="submit">
    </form>
  </body>

</html>