<html lang="pt-br">
    <head>
        <meta charset="utf-8" />
        <title>FrontEnd</title>
    </head>
    <body>
        <h1>Tecnologias FrontEnd</h1>
        <% for(i=0; i<dados.length;i++){ %>
            <p><%=dados[i].conteudo %></p>
            <%}%>
    </body>
</html>

